

<div class="px-5" data-controller="users">

<table class="table align-middle text-center table-hover">
  <thead>
    <tr>                          
      <th scope="col" id="users-name" rowspan="2" >Nombre</th>
      <th scope="col" id="users-email" rowspan="2">E-Mail</th>
      <th scope="col" id="users-canvas_id" rowspan="2">Canvas_ID</th>
      <th scope="col" id="users-sis_id" rowspan="2">SIS_ID</th>
      <th scope="col" id="users-university" rowspan="2">Universidad</th>
      <th scope="col" id="users-course_code" rowspan="2">Curso</th>
      <th scope="col" colspan="2">INICIAL</th>
      <th scope="col" colspan="2">MIDTERM</th>
      <th scope="col" colspan="2">FINAL</th>
    </tr>
            <tr>
            <th id="users-initial_active">Activa</th>
            <th id="users-initial_answered">Respondida</th>
            <th id="users-midterm_active">Activa</th>
            <th id="users-midterm_answered">Respondida</th>
            <th id="users-exit_active">Activa</th>
            <th id="users-exit_answered">Respondida</th>
          </tr>
  </thead>
  <turbo-stream action="replace" target="users">
    <tbody class="body">
      <%= turbo_frame_tag "users" do %>  
        <% @users.each do |user| %>
          <tr >  
            <%= render user %> 
          </tr> 
        <% end %>
      <% end %>  
    </tbody>
  </turbo-stream>    
</table>

</div>