<nav class="navbar bg-body-tertiary" style="background-color: #e3f2fd" >
  <div class="container-fluid ">
  <div class="d-flex justify-content-start">
    <%= link_to users_path(filters: user.university: "MITPE") do%>
    <a class="navbar-brand">MITPE</a><% end %>
    <a class="navbar-brand">XPRO</a>
    <a class="navbar-brand">UCHI</a>
    <a class="navbar-brand">BOOTH</a>
    <a class="navbar-brand">MIAMI</a>
    </div>
    <%= link_to new_user_path do %>
      <button class="btn btn-outline-primary" type="submit"  >+ Agregar usuario</button>
      <% end %>
    <%
=begin%>
 <%= form_with url: list_users_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "users" } do |form| %>
       <%= form.text_field :sis_id, data: { action: "input->search-form#search" }, autocomplete: "off", class:"form-control me-2", placeholder:"Buscar sis_id" %>
    <% end %> 
<%
=end%>
  </div>
</nav>