<nav class="navbar bg-body-tertiary" style="background-color: #e3f2fd" >
  <div class="container-fluid ">
  <div class="d-flex justify-content-start">
    <a class="navbar-brand">MITPE</a>
    <a class="navbar-brand">XPRO</a>
    <a class="navbar-brand">UCHI</a>
    <a class="navbar-brand">BOOTH</a>
    <a class="navbar-brand">MIAMI</a>
    </div>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>